<script id="homePageTemplate" type="text/template" class="template">
	<div id="homePageParent" class="homePageParent leftRightSplit">
		<div class="homePageSide" id="homePageSide">
			<div class="navbarLogoContainer">
				<a class="navbarMenuItem">
					Homework #3
				</a>
			</div>
			<div class="pageSelectSpacer">
			</div>
			<div id="overviewSelect" class="pageSelectContainer">
				<i class="fa fa-bar-chart shpt-left pageSelectIcon" aria-hidden="true"></i>
				<div class="pageSelectText shpt-left"> Projects </div>
			</div>
			<div id="accountSelect" class="pageSelectContainer">
				<i class="fa fa-building shpt-left pageSelectIcon" aria-hidden="true"></i>
				<div class="pageSelectText shpt-left"> Account Details </div>
			</div>
		</div>
		<div class="homeWrapper">
			<div class="headerContainer id="homePageHeader">
				<div class="headerButtonContainer">
					<a id="headerLogout" class="headerButton">
						Log out
					</a>
				</div>
			</div>

			<div class="homePageBody" id="homePageBody">
				<!-- the content of the pages will go in here -->
			</div>
		</div>
	</div>
</script>