<script id="navbarTemplate" type="text/template" class="template">
	<nav id="navbarParent" class="navbarParent">
		<div class="navbarContainer">
			<div class="navbarMainNavigation">
				<div class="navbarLogoContainer">
					<a class="navbarMenuItemGeneric">
						<img class="navbarLogo" src="images/shptWritten.png"/>
					</a>
				</div>
				<div class="navbarMenu">
					<div class="navbarMenuItemContainer">
						<a id="c-navbarFacilities" class="navbarMenuItem">
							<div>
								<ul>
									Facilitiesdsdsd
								</ul>
							</div>
						</a>
					</div>
					<div class="navbarMenuItemContainer">
						<a id="c-navbarBays" class="navbarMenuItem">
							<div>
								<ul>
									Bays
								</ul>
							</div>
						</a>
					</div>
					<div class="navbarMenuItemContainer">
						<a id="c-navbarParcels" class="navbarMenuItem">
							<div>
								<ul>
									Parcels
								</ul>
							</div>
						</a>
					</div>
					<div class="navbarMenuItemContainer">
						<a id="c-navbarUnits" class="navbarMenuItem">
							<div>
								<ul>
									Units
								</ul>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="navbarAccountMenu">
				<div class="navbarMenuItemContainer">
					<a class="navbarMenuItem">
						<div>
							<ul>
								My Account
							</ul>
						</div>
					</a>
				</div>
				<div class="navbarMenuItemContainer">
					<a class="navbarMenuItem">
						<div style="cursor: default">
							<input id="navbarLogout" type="button" class="navbarBtn" value="Log Out"/>
						</div>
					</a>
				</div>
			</div>
		</div>
	</nav>
</script> 
 
