<script id="loginPageTemplate" type="text/template" class="template">
	<div id="loginPageParent" class="loginPageParent">
		<div id="loginPageHeader" class="loginPageHeader">
			<div class="loginPageImageContainer">
				Homework #3
			</div>
		</div>
		<div id="loginPageBody" class="loginPageBody">
			<div class="loginControls">
				<ul>
					<li id="c-login" class="loginPageControls">
						<a>
						Log In
						</a>
					</li>
					<li id="c-signup" class="loginPageControls">
						<a>
						Sign Up
						</a>
					</li>
				</ul>
			</div>
			<div id="formContainer" class="loginPageFormContainer">
				<!-- the login/signup pages will be compiled and inserted here -->
			</div>
		</div>
	</div>
</script>