<script id="signupTemplate" type="text/template" class="template">
	<div id="signupParent">
		<div class="loginInput">
			<input type="text" id="i-signupFirstName" class="loginTextInput" placeholder="First Name"/>
		</div>
		<div class="loginInput">
			<input type="text" id="i-signupLastName" class="loginTextInput" placeholder="Last Name"/>
		</div>
		<div class="loginInput">
			<input type="text" id="i-signupAddress" class="loginTextInput" placeholder="Address"/>
		</div>
		<div class="loginInput">
			<input type="text" id="i-signupZip" class="loginTextInput" placeholder="Zip Code"/>
		</div>
		<div class="loginInput">
			<input type="text" id="i-signupEmail" class="loginTextInput" placeholder="E-mail"/>
		</div>
		<div class="loginInput">
			<input type="text" id="i-signupREmail" class="loginTextInput" placeholder="Repeat E-mail"/>
		</div>
			<div class="loginInput">
			<input type="password" id="i-signupPassword" class="loginTextInput" placeholder="Password"/>
		</div>
		<div class="loginInput">
			<input type="password" id="i-signupRPassword" class="loginTextInput" placeholder="Repeat Password"/>
		</div>
		<div class="loginInput">
			<input type="button" id="c-submitSignup" class="loginBtn" value="Sign Up"/>
		</div>
	</div>
</script> 
